@import "../../App.scss";

.spinner_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white_color;
    // background-color: rgba(255, 255, 255, 0.6);
    z-index: 5;

    .spinner_icon {
        font-size: 4rem;
        line-height: 4rem;
        color: $primary_color;
        animation: spinner 1s linear infinite;
    }
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
