@import "../../../App.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-image: linear-gradient(
        to bottom,
        $primary_color,
        darken($primary_color, 15%)
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $height_navbar;
    padding: 0 50px;
    z-index: 15;

    .logo {
        display: flex;
        padding-right: 20px;

        .logo_img {
            height: calc($height_navbar - 20px);
        }
    }

    .action {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .action_page,
        .action_user {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .page_item {
            text-decoration: none;
            color: $white_color;
            font-size: 1.8rem;
            font-weight: 400;
            margin-left: 20px;
            position: relative;

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                display: none;
                content: "";
                height: 3px;
                border-radius: 5px;
                width: 100%;
                background-color: #fff;
            }

            &.active::after {
                display: block;
            }
        }

        .icon_wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 30px;
            position: relative;

            .icon {
                color: $white_color;
                font-size: 2.8rem;
                font-weight: 600;
                align-items: center;
                cursor: pointer;
            }
        }

        .user {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 4px;
            position: relative;

            &_text {
                color: $white_color;
                font-size: 1.4rem;
                font-weight: 400;
                cursor: default;

                .user_name {
                    font-size: 1.3rem;
                    font-weight: 600;
                }
            }

            &_avatar {
                padding: 2px;
                border: 3px solid $secondary_color;
                height: 40px;
                width: 40px;
                border-radius: 30px;
                margin-right: 8px;

                .img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: 30px;
                    -khtml-user-select: none;
                    -o-user-select: none;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    user-select: none;
                }
            }

            .dropdown {
                &_icon {
                    font-size: 3rem;
                    color: $white_color;
                    cursor: pointer;
                }

                .user_action {
                    display: none;
                    position: absolute;
                    right: 0;
                    top: 110%;
                    width: 100%;
                    border-top: 4px solid $primary_color;
                    border-bottom: 4px solid $primary_color;
                    background-color: #fff;
                    box-shadow: 1px 2px 10px rgb(0 0 0 / 30%);
                    z-index: 10;

                    &-item {
                        display: block;
                        text-decoration: none;

                        p {
                            padding: 8px;
                            margin: 6px;
                            color: $text_color;
                            font-size: 1.4rem;
                            line-height: 1.6rem;
                            font-weight: 400;

                            &:hover {
                                color: $white_color;
                                background-color: $primary_color;
                            }
                        }
                    }

                    &::before {
                        position: absolute;
                        top: -25px;
                        right: 0;
                        content: "";
                        width: 20%;
                        height: 24px;
                        background-color: transparent;
                    }

                    &::after {
                        position: absolute;
                        right: 7px;
                        top: -10px;
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 8px 6px 8px;
                        border-color: transparent transparent $primary_color
                            transparent;
                    }
                }

                &:hover > .user_action {
                    display: block;
                    animation: translateY linear 0.25s;
                }
            }
        }
    }
}

/* ===================== MEDIA QUERIES (MEDIUM SERVICE)================== */
@media screen and (max-width: 1024px) {
    .header {
        padding: 0 20px;
        .logo {
            padding-right: 0;
            .logo_img {
                width: 140px;
            }
        }

        .action {
            .page_item {
                margin-left: 10px;
            }
            .action_user {
                .icon_wrap {
                    margin-right: 15px;
                }

                .user_text {
                    display: none;
                }

                .user .dropdown .user_action {
                    width: 120px;
                }
            }
        }
    }
}

/* ===================== MEDIA QUERIES (SMALL SERVICE) =================== */
@media screen and (max-width: 600px) {
    .header {
        padding: 0;
        .logo {
            padding-right: 0;
            padding-left: 15px;
            .logo_img {
                width: 120px;
            }
        }

        .action {
            justify-content: flex-end;
            position: relative;

            .icon_wrap {
                margin: 0 10px;

                &.menu {
                    margin-right: 15px;

                    .icon {
                        font-size: 4rem;
                    }
                }
            }
        }

        .menu_mobile {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: rgba(42, 42, 42, 0.95);
            display: none;

            .action {
                display: block;
                text-decoration: none;
                width: 100%;

                p {
                    color: $white_color;
                    font-size: 1.8rem;
                    font-weight: 400;
                    width: 100%;
                    text-align: center;
                    padding: 10px;

                    &:hover {
                        background-color: hsla(40, 91%, 60%, 50%);
                        opacity: 0.7;
                    }
                }
            }

            &.active {
                display: block;
                animation: searchShow linear 0.2s;
            }
        }
    }
}
